# Data Science Project 1:

# Due: 06/14/2020 (Sunday), Midnight your time.

# Name: MLy

“I certify that all solutions are entirely in my own words and that I have not looked at another student’s solutions. I have given credit to all external sources I consulted.”

Submit link: https://www.kaggle.com/c/ds100fa19/overview (test accuracy)

Data: https://drive.google.com/file/d/1XiGbOBTOj44sTUC1a3n32AfW5eQYxmXQ/view?usp=sharing

### RULE:

- Please back up everything by GIT
- Please type everything in Latex
- Please do not cheat
- Please try to start it early, since kaggle only allows you to submit twice a day
- Please PM me on discord directly if you have any question
- Please download teamview https://www.teamviewer.com/en-us/ if you want me to look at your code
- Please feel free to cooperate with friends and list their name here:

“Sometimes you make choices in life and sometimes choices make you.” (Forman, 2009)

# SKELETON:

### IMPORT LIBRARIES:

In [2]:
import pandas as pd #Data
import numpy as np #Linear algebra
import matplotlib.pyplot as plt #Drawing charting
from pylab import rcParams #size

### IMPORT DATA:

In [28]:
train = pd.read_csv('/Users/TManLy/Desktop/Coding/datascience/Project1/data/train.csv')
train.head()

,id,subject,email,spam
0,0,Subject: A&L Daily to be auctioned in bankrupt...,URL: http://boingboing.net/#85534171\n Date: N...,0
1,1,"Subject: Wired: ""Stronger ties between ISPs an...",URL: http://scriptingnews.userland.com/backiss...,0
2,2,Subject: It's just too small ...,<HTML>\n <HEAD>\n </HEAD>\n <BODY>\n <FONT SIZ...,1
3,3,Subject: liberal defnitions\n,Depends on how much over spending vs. how much...,0
4,4,Subject: RE: [ILUG] Newbie seeks advice - Suse...,hehe sorry but if you hit caps lock twice the ...,0

In [29]:
train.tail()

,id,subject,email,spam
8343,8343,Subject: Re: ALSA (almost) made easy\n,"Thanks for this, I'm going to give them anothe...",0
8344,8344,Subject: Re: Goodbye Global Warming\n,Thanks for the link - I'm fascinated by archae...,0
8345,8345,Subject: hello\n,WE NEED HELP. We are a 14 year old fortune 50...,1
8346,8346,Subject: Your application is below. Expires Ju...,<html>\n \n \n <HEAD> \n <META charset=3DUTF-8...,1
8347,8347,Subject: Re: [SAtalk] CONFIDENTIAL\n,"On Wed, 2002-08-21 at 06:42, Craig R.Hughes wr...",0

### DATA MINING:

In [30]:
# How many spam emails?
train_sp = train[['id','spam']]
train_sp.head()

   id  spam
0   0     0
1   1     0
2   2     1
3   3     0
4   4     0

In [31]:
train_sp = train_sp[train_sp['spam'] == 1]

### DATA CLEANING:

### EAD:

### CONCLUSION ABOUT DATA:

### MODELING:

### EVALUATE MODEL:

### OUTPUT TO CSV FILE:

In [ ]:
# submission_df = pd.DataFrame({
#     "Id": test['id'], 
#     "Class": test_predictions,
# }, columns=['Id', 'Class'])
# timestamp = datetime.isoformat(datetime.now()).split(".")[0]
# submission_df.to_csv("submission_{}.csv".format(timestamp), index=False)

# print('Created a CSV file: {}.'.format("submission_{}.csv".format(timestamp)))
# print('You may now upload this CSV file to Kaggle for scoring.')

### RECAP:

###### Congratulation on finishing your first project, this will be exactly what a real Data Scientist (ML) would do in their every day job. If you understand this project, you are at 33% ready for being a data scientist. Professor Khoa. 

- What technique did you use in the project? 
- What made the most different in accuracy? 
- What is your thought about the project? 
- Do you think you can major Data Science?
- How many hour did you spend on the project?